yaml-files:
  - '*.yaml'
  - '*.yml'
  - '.yamllint'

rules:
  # 中括弧内のスペースは0または1つ
  braces:
    level: warning
    min-spaces-inside: 0
    max-spaces-inside: 1

  # 大括弧内のスペースは0または1つ
  brackets:
    level: warning
    min-spaces-inside: 0
    max-spaces-inside: 1

  # ':' の前はスペースを空けない、後はスペースを1つ空ける
  colons:
    level: warning

  # ',' の前はスペースを空けない、後はスペースを1つ空ける
  commas:
    level: warning

  # '#' の後はスペースを1つ空ける
  comments:
    level: warning
    min-spaces-from-content: 1

  # コメントのインデント数に制限を設けない
  comments-indentation: disable

  # ドキュメント終了記号 '...' を必須にしない
  document-end: disable

  # ドキュメント開始記号 '---' を必須にしない
  document-start: disable

  # 空行の数に制限を設けない
  empty-lines: disable

  #  null値を許容する
  empty-values: disable

  # '-' の後はスペースを1つ空ける
  hyphens:
    level: warning

  # ブロックごとに一貫したインデントをする
  indentation:
    level: warning
    indent-sequences: consistent

  # 重複したキーの禁止
  key-duplicates: enable

  # キーの順序は問わない
  key-ordering: disable

  # 一行の文字数は制限しない
  line-length: disable

  # ファイルの末尾に改行文字を記述する
  new-line-at-end-of-file:
    level: warning

  # 改行文字を統一する
  new-lines: enable

  # 8進数表記を制限しない
  octal-values: disable

  # クオートを必須にしない
  quoted-strings: disable

  # 行末のスペースを記述しない
  trailing-spaces:
    level: warning

  # ブーリアン値と解釈される文字列は明示的に記述する
  truthy: enable
